.room-list mat-list-item{
  font-family: 'Roboto Mono';
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.online, .offline {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 4%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.online {
  background-color: #1db954;
}
