@import "~src/styles/theme.scss";

.sidenav-container {
  height: 100%;
  padding-left: 10px;



.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color: mat-color($my-yellow, 300);
}
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
